body {
  background-color: #C8C8A9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  background-color: #698E7F;
  height: 40px;
  width: 100%;
}

.brand {
  float: left;
}

.brand a {
  text-decoration: none;
}

.brand h1 {
  margin: 0;
  padding: 0;
  color: #C8C8A9;
  line-height: 40px;
  text-transform: uppercase;
}

.navlist {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  line-height: 40px;
}

.navlist li {
  display: inline;
}

.navlist a {
  color: #C8C8A9;
  text-decoration: none;
  text-transform: uppercase;
}





.container {
  margin: 20px auto;
  width: 100%;
  padding: 0px 20px 20px 20px;
  border: 1px solid #83AF9B;
}

.container h1 {
  font-size: 17pt;
  color: #698E7F;
}

#sign-in {
}








/*nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}*/

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}